body{
    padding: 0;
    margin: 0;
}
main{
    margin: auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"h h h"
                        "n n n"
                        "ar ar as"
                        "f f f";
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
article{
    grid-area: ar;
}
aside{
    grid-area: as;
}
aside img{
    width: 70%;
}
footer{
    grid-area: f;
}
<<<<<<< HEAD

@media only screen (max-width: 700px){
    
}
=======
nav li{
    display: inline;
    border: 1pt solid gray;
}
nav li a{
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: rgb(47, 124, 175);
  }

>>>>>>> a75eeccfc11eaa02a219cf680a3cd105110bd358
