body{
    padding: 0;
    margin: 0;
}
main{

}
nav li{
    display: inline;
    border: 1pt solid gray;
}
nav li a{
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: rgb(47, 124, 175);
  }

